@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optmizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* background-color: rgb(235, 235, 235); */
}

body {
    font-size: 1.6rem;
}

/**
*HEADER
*/

header {
    background-color: #4abdac;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1080px;
    margin: auto;
}

header img {
    width: 150px;
    margin-left: 20px;
    padding: 15px;
}
header .menu-section {
    display: flex;
    padding: 2.4rem;
}

header input[type="text"] {
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

header button {
    background-color: #0cae98;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

header nav ul {
    display: flex;
    padding: 1rem;
}

header nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

h2 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    line-height: 4.6rem;
}

h3 {
    color: rgb(75, 75, 75);
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 189, 172);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover {
    opacity: 0.9;
}

/**
HOME
*/

/**
  HERO
  */

section.hero {
    margin: 80px 0;
}

section.hero .container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
    display: flex;
}

section.hero p {
    color: rgb(154, 142, 191);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}
section.hero #slider {
    width: 100%;
    position: relative;
}

section.hero #slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

section.hero #slider img.selected {
    opacity: 0.7;
}

/**
 MAIN
*/
main.home {
    margin-bottom: 80px;
}

.home .cards {
    width: 90%;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: black;
}

.home .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(74, 189, 172);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 2%;
    height: 350px;
}

.home .card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    overflow: hidden;
}

.image img {
    width: 90%;
    border-radius: 2%;
    object-fit: fill;
}

.content {
    margin: 20px;
}

.content .title a {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.8rem;
}

.info {
    display: flex;
    align-self: end;
    align-items: center;
    /* justify-content: space-between; */
}

.price {
    margin-left: auto;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #0cae98;
    filter: brightness(90%);
}

/**
LOGIN
*/

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1080px;
    margin: auto;
}

#form-login {
    width: 100%;
    max-width: 450px;
    padding: 5%;
    margin: -4% 0 4%;
    background: #0cae98;
    border-radius: 8px;
}

#form-login form {
    width: 100%;
}

#form-login h1,
#form_register h1,
#form-forget h1,
#form-reset h1 {
    margin-bottom: 30px;
}

#form-login form label {
    /* display: none; */
    order: -1;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
}

.form--control {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 15px;
}

.form-group .input-control {
    flex: 1 1;
    display: block;
    margin: 6px 0px 10px;
    padding: 12px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    /* background-color: rgba(1, 1, 1, 0.2); */
}

#form-login button,
#form_register button,
#form-forget button,
#form-reset button {
    margin: 6px 0px 10px;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
}

.btn-new-account a {
    /* text-decoration: none; */
    padding: 15px;
    color: rgb(75, 75, 75);
    border-radius: 5px;
}

.btn-new-account a:hover {
    background: rgba(255, 255, 255, 0.15);
}

/**
REGISTER
*/

#form_register {
    width: 100%;
    max-width: 730px;
    background-color: #0cae98;
    padding: 5%;
    margin: 3% 0 5%;
    border-radius: 5px;
}

.form-inline {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    width: 100%;
}

/**
FORGET
*/

#form-forget {
    width: 100%;
    max-width: 450px;
    background-color: #0cae98;
    padding: 5%;
    margin-top: 8%;
    border-radius: 5px;
}

/**
SEND EMAIL
*/
.msg-send-email {
    margin-top: 5%;
    background-color: rgba(74, 189, 172, 0.2);
    padding: 5%;
    border-radius: 12px;
    /* position: relative; */
}

.msg-send-email h1 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.msg-send-email p {
    color: rgb(75, 75, 75);
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.msg-send-email a {
    /* position: absolute; */
    /* text-decoration: none; */
    /* right: 45px; */
    float: right;
    margin-top: 15px;
    padding: 15px;
}

.msg-send-email a:hover {
    background: rgba(255, 255, 255, 0.4);
}

#form-reset {
    width: 100%;
    max-width: 500px;
    padding: 5%;
    background-color: #0cae98;
    margin: 3% 0 5%;
    border-radius: 8px;
}

/**
SEARCH AREA
*/

main .container-- {
    width: 90%;
    max-width: 1080px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 20px;
}

.left-sidebar {
    margin-top: 20px;
    width: 100%;
}

.left-sidebar h2,
.brands_products h2,
h2.title {
    color: #0cae98;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.left-sidebar h2:before,
h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}

nav#tree {
    width: 100%;
}

nav#tree ul {
    line-height: 2.8rem;
    padding-left: 12px;
    font-size: 14px;
}

nav#tree ul li {
    color: #696763;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

nav#tree li > ul {
    display: none;
    font-size: 12px;
    /* padding: 8px; */
}

nav#tree li.open > ul {
    display: block;
}

nav#tree .has-children {
    cursor: pointer;
    position: relative;
}
nav#tree li.has-children:before {
    content: "\f067";
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-family: FontAwesome;
    font-size: 1.6rem;
    right: 1.7rem;
}

.panel-group {
    border: 1px solid #f7f7f0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.category-products .panel-default .panel-heading {
    background-color: #ffffff;
    border: 0 none;
    color: #ffffff;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.panel-body ul {
    padding-left: 20px;
}

.panel-body ul li a {
    color: #696763;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.brands_products .nav-stacked li a {
    background-color: #ffffff;
    color: #696763;
    font-size: 1.4rem;
    line-height: 2.6rem;
    padding: 5px 12px;
    text-transform: uppercase;
}

.brands_products .nav-stacked li a:hover {
    background-color: #fff;
    color: black;
}

.cols-- {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product--wrapper {
    border: 1px solid #f7f7f5;
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

.productinfo {
    text-align: center;
}

.productinfo img {
    width: 100%;
}

.productinfo h2 {
    color: #696763;
    font-size: 2.4rem;
    font-weight: 600;
}

.productinfo p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #696763;
}
.single-products {
    position: relative;
    overflow: hidden;
}

.productinfo button {
    color: #696763;
    padding: 3% 6%;
    margin: 10px !important;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.product-overlay {
    background: rgba(12, 174, 152, 0.8);
    top: 0;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.product-overlay h2 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    color: #0cae98;
    font-size: 1.5rem;
    margin: 25px;
    padding: 3% 6%;
}

.product-overlay .add-to-cart:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #0cae98;
    cursor: pointer;
}

.product-overlay p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}
.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.choose {
    border-top: 1px solid #f7f7f0;
    width: 100%;
    max-width: 250px;
}
.choose ul {
    display: flex;
    justify-content: space-between;
}
.choose ul li a {
    color: #b3afa8;
    font-size: 1.3rem;
}

.choose ul li a i {
    margin-right: 5px;
}

.choose ul li a:hover {
    background: none;
    color: #0cae98;
}

/*************************
*******Product Details CSS******
**************************/

#single-product {
    width: 100%;
    max-width: 1480px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

.product-details {
    margin-bottom: 40px;
    display: flex;
    overflow: hidden;
    margin-top: 4.6%;
    width: 100%;
}

.product-images {
    width: 100%;
    margin: 1%;
}

.product-information {
    width: 100%;
    margin: 1%;
}
.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #f7f7f0;
    height: 380px;
    width: 100%;
    object-fit: contain;
}

.view-product h3 {
    background: #fe980f;
    bottom: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}
#similar-product {
    padding: 2%;
}
#similar-product .carousel-inner .item {
    padding-left: 0px;
    display: flex;
}

#similar-product .carousel-inner .item img {
    margin-left: 15px;
    width: 80px;
    object-fit: contain;
}

.product-information {
    border: 1px solid #f7f7f0;
    overflow: hidden;
    padding: 4%;
    position: relative;
}

.product-information h2 {
    color: #363432;
    font-size: 1.8rem;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}
.product-information span span {
    color: #0cae98;
    float: left;
    font-size: 2.6rem;
    font-weight: 700;
    width: 100%;
}

.product-information span input {
    border: 1px solid #dededc;
    color: #696763;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-weight: 700;
    margin-right: 5px;
}

.cart {
    background: #0cae98;
    padding: 3%;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.product-information p {
    color: #696763;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
}

#btn-comprar {
    width: 100%;
    background-color: #0cae98;
    color: #fff;
    font-size: 1.8rem;
    padding: 6%;
    border: none;
    margin-top: 10%;
}

/**
CART
*/

.cart_info {
    margin: 40px 20px;
    width: 100%;
    border: 1px solid #f7f7f0;
}
.cart_info table {
    width: 100%;
    border-spacing: 0;
}

.cart_info thead tr {
    background-color: #0cae98;
}

.cart_info thead tr td {
    padding: 2%;
    color: #fff;
    font-size: 1.7rem;
}

.cart_product img {
    height: 150px;
    padding: 3%;
    object-fit: contain;
}

.cart_description h4 a {
    color: #363432;
    font-size: 2rem;
}

.cart_price {
    text-align: center;
    color: #363432;
    font-size: 2rem;
}

.cart_quantity {
    text-align: center;
    color: #363432;
    font-size: 2rem;
}

.cart_quantity a {
    background: #f0f0e9;
    color: #696763;
    display: inline-block;
    font-size: 1.8rem;
    height: 28px;
    text-align: center;
    width: 35px;
    line-height: 28px;
}

.cart_quantity a:hover {
    cursor: pointer;
    color: #0cae98;
}

.cart_quantity input {
    width: 35px;
    height: 28px;
    border: 1px solid #f7f7f0;
    text-align: center;
}

.cart_total {
    text-align: center;
    color: #0cae98;
    font-size: 2rem;
}

.cart_delete a {
    text-align: center;
    background: #f0f0e9;
    color: #696763;
    padding: 5px 7px;
    font-size: 1.8rem;
}

.cart_delete a:hover {
    background: #0cae98;
    cursor: pointer;
}
.cart-empty {
    margin-top: 5%;
}

.link-home {
    float: right;
    margin-top: 3%;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #696763;
}

.link-home:hover {
    /* background-color: ; */
    color: #0cae98;
}
